body {
    background-color: rgb(120, 148, 97);
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    font-size: xx-large;
    text-align: center;
}

.btn {
    font-size: xx-large;
    color: antiquewhite;

    background-color: rgb(41, 75, 41);

    width: fit-content;
    height: fit-content;
    
    border-radius: 15px;
    border-color: rgb(41, 75, 41);
    border-width: 2px;
    border-style: solid;

    margin: 35px;
}

.btn_stop_style {
    background-color: rgb(196, 64, 64);
    border-color: rgb(196, 64, 64);
}

.btn_start_style {
    background-color: rgb(61, 168, 58);
    border-color: rgb(61, 168, 58);
}

#timer {
    font-weight: bold;
    color: antiquewhite;
}

#master_canvas {
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(41, 75, 41);
}